body {
  text-align: center;
  background-color: rgb(241, 237, 237);
}

.profile,
.statistics,
.transaction-history,
.transactions {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  width: 350px;
  text-align: center;

  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(219, 219, 219);
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
}

.stats-item {
  width: calc(348px / 3);
}

.transaction-history {
  background-color: rgb(241, 237, 237);
}

.title {
  text-align: center;
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.tag,
.location {
  color: grey;
}

.stats,
.stat-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  padding: 0;

  background-color: rgb(241, 237, 237);
}

.stats li {
  padding: 20px;
}

.item {
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.stat-item {
  width: 70px;
  height: 70px;
  text-align: center;
}

.avatar {
  padding: 20px;
  width: 150px;
  border-radius: 50%;
}

.label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 14px;
  color: rgb(73, 73, 73);
}

.quantity {
  font-size: 16px;
  font-weight: 700;
}

.friend-list {
  list-style: none;
  padding: 0;
}

.friend-list .item {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  border: solid 1px rgb(219, 219, 219);
  box-shadow: 1px 1px 1px rgb(219, 219, 219);
}

.status-green::before,
.status-red::before {
  content: '';
  display: block;

  margin-left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.status-green::before {
  background-color: rgb(51, 204, 71);
}

.status-red::before {
  background-color: rgb(212, 45, 40);
}

.avatar {
  width: 80px;
}

.transaction-history td {
  padding: 10px;
}
